/dts-v1/;
#include <st/f7/stm32f767Xi.dtsi>
#include <st/f7/stm32f777nihx-pinctrl.dtsi>

/ {
    model = "ACME Dev Rig";
    compatible = "acme,dev-rig", "st,stm32f767";

    chosen {
        zephyr,console = &uart7;
        zephyr,shell-uart = &uart7;
        zephyr,usb-device = &usbotg_fs;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,dtcm = &dtcm;
    };

    leds {
        compatible = "gpio-leds";
        led_1: led_1 {
            gpios = <&gpiog 11 GPIO_ACTIVE_HIGH>;
            label = "User LED1";
        };
        led_2: led_2 {
            gpios = <&gpiog 12 GPIO_ACTIVE_HIGH>;
            label = "User LED2";
        };
    };

    aliases {
        led0 = &led_1; // alias is used by blinky and other demos
        led1 = &led_2;
    };

    io-channels =   <0>,     //AFE channel 1 not connected to any ADC.
    <0>,             //AFE channel 2 not connected to any ADC.
    <0>,             //AFE channel 3 not connected to any ADC.
    <&ad594x_1 2>,   //AFE channel 4.
    <&ad594x_1 1>,   //AFE channel 5.
    <&ad594x_1 0>,   //AFE channel 6.
    <&ad594x_2 2>,   //AFE channel 7.
    <&ad594x_2 1>,   //AFE channel 8.
    <&ad594x_2 0>,   //AFE channel 9.
    ;

    afe-detect-adc-channel = <11>;
    afe-mode-muxer-gpios = <&pb_iox_25 8 GPIO_ACTIVE_HIGH>,
                           <&pb_iox_25 9 GPIO_ACTIVE_HIGH>;

    motor-power-gpios = <&pb_iox_25 2 GPIO_ACTIVE_HIGH>;
    motor-pos-gpios = <&gpioa 4 GPIO_ACTIVE_HIGH>,
                      <&gpioa 5 GPIO_ACTIVE_HIGH>;
    motor-ctl = &drv8846_1;

    heater-thermistor-channel = <6>;
    heater-warm-gpios = <&pb_iox_25 6 GPIO_ACTIVE_HIGH>;
    heater-power-gpios = <&pb_iox_25 7 GPIO_ACTIVE_HIGH>;
    heater-thermistor-adc = &adc1;
    heater-pwm = &heater_pwm;

    heater {
        compatible = "pwm-leds";
        heater_pwm: heater_pwm {
            pwms = <&pwm1 1 0 PWM_POLARITY_NORMAL>;
        };
    };

    drv8846_1 {
        compatible = "ti,drv8846";
        status = "okay";
        enbl-gpios = <&pb_iox_25 1 GPIO_ACTIVE_LOW>;
        sleep-gpios = <&pb_iox_25 0 GPIO_ACTIVE_LOW>;
        dir-gpios = <&gpiof 10 GPIO_ACTIVE_HIGH>;

        pwms = <&pwm8 4 0 PWM_POLARITY_NORMAL>; // PC9 TIM3_CH4 TIM8_CH4
    };

};

&clk_hse {
    hse-bypass;
    clock-frequency = <DT_FREQ_M(25)>;
    status = "okay";
};

&pll {
    div-m = <25>;
    mul-n = <432>;
    div-p = <2>;
    div-q = <9>;
    clocks = <&clk_hse>;
    status = "okay";
};

&rcc {
    clocks = <&pll>;
    clock-frequency = <DT_FREQ_M(216)>;
    ahb-prescaler = <1>;
    apb1-prescaler = <4>;
    apb2-prescaler = <2>;
};

&rng {
    status = "okay";
};

&uart7 {
    current-speed = <115200>;
    status = "okay";
    pinctrl-0 = <&uart7_tx_pe8 &uart7_rx_pe7 /*&uart7_cts_pe10 &uart7_rts_pe9*/>;
};

&usbotg_fs {
    status = "okay";
    pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
};

&mac {
    status = "okay";
    pinctrl-0 = <
    &eth_crs_pa0
    &eth_rx_clk_pa1
    &eth_col_pa3
    &eth_rx_dv_pa7
    &eth_rxd2_pb0
    &eth_rxd3_pb1
    &eth_txd3_pb8
    &eth_tx_en_pb11
    &eth_txd0_pg13
    &eth_txd1_pg14
    &eth_txd2_pc2
    &eth_tx_clk_pc3
    &eth_rxd0_pc4
    &eth_rxd1_pc5
    &eth_mdc_pc1
    &eth_mdio_pa2
    &eth_rx_er_pi10>;
};


&timers8 {
    status = "okay";

    pwm8: pwm {
        status = "okay";
        pinctrl-0 = <&tim8_ch4_pc9>;
        st,prescaler = <215>; // Sets PWM frequency to 1 MHz
    };
};

&i2c4 {
    status = "okay";
    pinctrl-0 = <&i2c4_sda_pd13 &i2c4_scl_pd12>;
    clock-frequency = <I2C_BITRATE_FAST>;

    pb_iox_25: pca9535@25 {
        compatible = "nxp,pca95xx";
        reg = <0x25>;
        #gpio-cells = <2>;
        gpio-controller;

        status = "okay";
    };
};

&spi5 {
    status = "okay";
    pinctrl-0 = <&spi5_sck_pf7 &spi5_miso_pf8 &spi5_mosi_pf9>;
    cs-gpios = <&gpioj 8 GPIO_ACTIVE_LOW>,
               <&gpioj 9 GPIO_ACTIVE_LOW>,;

    ad594x_1: ad594x_1@0 {
        compatible = "adi,ad594x";
        status = "okay";
        reg = <0x0>;
        spi-max-frequency = <8000000>; // 8 MHz
        #io-channel-cells = <1>;
        reset-gpios = <&pb_iox_25 10 GPIO_ACTIVE_LOW>;

        ad594x_1_gpio: gpio {
            compatible = "adi,ad594x-gpio";
            status = "okay";
            gpio-controller;
            #gpio-cells = <2>;
        };
    };

    ad594x_2: ad594x_2@1 {
        compatible = "adi,ad594x";
        status = "okay";
        reg = <0x1>;
        spi-max-frequency = <8000000>; // 8 MHz
        #io-channel-cells = <1>;
        reset-gpios = <&pb_iox_25 10 GPIO_ACTIVE_LOW>;

        ad594x_2_gpio: gpio {
            compatible = "adi,ad594x-gpio";
            status = "okay";
            gpio-controller;
            #gpio-cells = <2>;
        };
    };

};

&adc1 {
    status = "okay";
    pinctrl-0 = <&adc1_in6_pa6>;
};

&timers1 {
    status = "okay";

    pwm1: pwm {
        status = "okay";
        pinctrl-0 = <&tim1_ch1_pa8>;
        st,prescaler = <9>; // Sets PWM frequency to 21.6 MHz
    };
};
