// This file is intentionally empty

// As the Peripherals V1 Shield only works with the Control Board
// all device required device tree nodes are placed in a
// board specific override for the Control board
